{% extends 'main/base.html' %}

{% block title %}
Редактор
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h1 class="ml-4 mt-4">Редактор</h1>
                <form method="post" class="mt-3 ml-4" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="mt-4">Загрузить фотографию товара</label>
                        <div class="row ml-1">
                            {{ form.image }}
                        </div>
                        <label class="mt-4">Введите название товара</label>
                        {{ form.title }}
                        <label class="mt-4">Номер телефона</label>
                        {{ form.phone }}
                        <label class="mt-4">Аннотация</label>
                        {{ form.annotation }}
                        <label class="mt-4">Описание товара</label>
                        {{ form.description }}
                        <label class="mt-4">Тег</label>
                        {{ form.tags }}
                        <label class="mt-4">Цена товара</label>
                        {{form.price}}<br>

                        <button type="submit" class="btn btn-success mt-4 ">Загрузить объявление</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}